# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
menv
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/ 

/credentials/
/uploaded_tracks/
/generated_tracks/
/temp_stems/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Docker cache
.dockerignore

# Ignore Redis data
redis_data

# Ignore PostgreSQL data
postgres_data

# Ignore Huggingface cache
huggingface_cache

# Ignore UV cache
uv_cache

# Ignore temporary files
*~